*{  
    padding: 5pt;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5pt;
}
.logo{
    background-color: rgb(53, 180, 253);
}
.logo img{
    margin: 0 10px;
    width: 30px; 
}